.tenis button.days-btn.today p{
    color: white;
    background: #2b9636;
    line-height: 36px;
    width: 36px;
    border-radius: 50%;
}

.pedrena button.days-btn.today p{
    color: white;
    background: #77223d;
    line-height: 36px;
    width: 36px;
    border-radius: 50%;
}

ion-calendar-month .primary .days .marked p {
    font-weight: bold;
}
