<!--
  Generated template for the EventosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

  *ngIf="(selectedDay | dateToString: 'date').setHours(0,0,0,0) == (e.startDate | dateToString: 'date').setHours(0,0,0,0)"
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Eventos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="isDataAvailable">
    <ion-calendar class="{{current_app}}" [options]="options" (onChange)="onChange($event)"></ion-calendar>

    <div padding>
      {{selectedDay | dateToString}}
      <hr />
      <div *ngFor="let e of events">
        <ion-card (click)="navigate(e)" *ngIf="isBetween(selectedDay, e)" class="animated fadeIn">
          <ion-card-content>
            <ion-card-title>
              {{e.title}}
            </ion-card-title>
            <ion-card-content>
              {{e.startTime}} - {{e.endTime}}
            </ion-card-content>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
