<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vídeos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let v of videos" (click)="openVideo(v.link, '_blank', 'location=yes')">
      <ion-row class="video-row" [style.background-image]="'url(' + v.thumbnail + ')' | safe: 'style'" >
        <h2>{{v.title}}</h2>
        <ion-icon name="videocam"></ion-icon>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
