.video-row{
    padding: 2em;
    background-size: cover;
    color: white;   
    h2 {
        font-family: 'Lato', sans-serif;
        font-size: 1.5em;
        width: 100%;
        white-space: normal;
        border-bottom: 1px solid #ffffff4a;
        margin-bottom: 0.5em;
    }
}