<ion-header class="homepage">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="{{logo}}" />
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="homepage" [style.background-image]="'url(' + background + ')' | safe: 'style'" >
  <ion-grid>
    <button *ngIf="app !== 'tenis'" class="home_button animated bounceInRight" (click)="navigateToInfo()">
      <ion-row>
        <ion-col col-2 class="icon">
          <img src={{info.icons.info}} />
        </ion-col>
        <ion-col class="info">
          <h1>Info</h1>
          <p>{{info.h1}}</p>
        </ion-col>
        <ion-col col-1 align-self-center class="icons">
          <ion-icon name="md-share" (click)="share(info.h1, info.h1, '', info.link)"></ion-icon>
        </ion-col>
      </ion-row>
    </button>
    <button *ngIf="info.reservas_link !== ''" class="home_button animated bounceInRight" (click)="openVideo(info.reservas_link, '_blank', 'location=yes')">
      <ion-row>
        <ion-col col-2 class="icon" style="padding-right: 0px;">
          <img src={{info.icons.bookmark}} />
        </ion-col>
        <ion-col class="info">
          <h1 style="margin-top: 0.4em; margin-bottom: 0px;">Realiza aquí tu reserva</h1>
          <p>Área exclusiva de socios</p>
        </ion-col>
        <ion-col col-1 align-self-center class="icons">
          <ion-icon name="md-share" (click)="share('Realiza aquí tu reserva', 'Realiza aquí tu reserva', '', info.reservas_link)"></ion-icon>
        </ion-col>
      </ion-row>
    </button>
    <button class="home_button noborder animated bounceInRight">
      <ion-row>
        <ion-col col-2 class="icon">
          <img src={{info.icons.news}} />
        </ion-col>
        <ion-col col-10 no-padding class="info">
          <div class="news-container">
            <div *ngFor="let n of news" class="news-row">
              <ion-row>
                <button ion-col (click)="navigateToNews(n)" >
                  <span>{{n.date | dateToString}}</span>
                  <h1><div *ngIf="isNew(n.date)" class="novelty">!</div>Noticias</h1>
                  <h2>{{n.title}}</h2>
                </button>
                <ion-col col-2 align-self-center class="icons">
                  <ion-row>
                    <ion-col>
                      <ion-icon *ngIf="favs.indexOf(n.id) == -1" (click)="saveAsFav(n)" name="ios-star-outline"></ion-icon>
                      <ion-icon *ngIf="favs.indexOf(n.id) > -1" (click)="removeAsFav(n)"name="ios-star"></ion-icon>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-icon style="margin-top: 10px" (click)="share(n.title, n.title, n.img, n.id)" name="md-share"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </button>
    <button *ngIf="info.has_restaurant" class="home_button noborder animated bounceInRight">
      <ion-row>
        <ion-col col-2 class="icon">
          <img src={{info.icons.restaurant}} />
        </ion-col>
        <ion-col col-10 no-padding class="info">
          <div class="news-container">
            <div *ngFor="let n of restaurantNews" class="news-row">
              <ion-row>
                <button ion-col (click)="navigateToNews(n)" >
                  <span>{{n.date | dateToString}}</span>
                    <h1><div *ngIf="isNew(n.date)" class="novelty">!</div>Restaurante</h1>
                  <h2>{{n.title}}</h2>
                </button>
                <ion-col col-2 align-self-center class="icons">
                  <ion-row>
                    <ion-col>
                      <ion-icon *ngIf="favs.indexOf(n.id) == -1" (click)="saveAsFav(n)" name="ios-star-outline"></ion-icon>
                      <ion-icon *ngIf="favs.indexOf(n.id) > -1" (click)="removeAsFav(n)" name="ios-star"></ion-icon>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-icon style="margin-top: 10px" (click)="share(n.title, n.title, n.img, n.id)" name="md-share"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </button>
    <button class="home_button noborder animated bounceInRight">
      <ion-row>
        <ion-col col-2 class="icon">
          <img src={{info.icons.events}} />
        </ion-col>
        <ion-col col-10 no-padding class="info">
          <div class="news-container">
            <div *ngFor="let n of events" class="news-row">
              <ion-row>
                <button ion-col (click)="navigateToEvent(n)" >
                  <span>{{n.startDate | dateToString}} <span *ngIf="n.endDate !== n.startDate">- {{n.endDate | dateToString}}</span> </span>
                  <h1><div *ngIf="isNew(n.date)" class="novelty">!</div>Eventos</h1>
                  <h2>{{n.title}}</h2>
                </button>
                <ion-col col-2 align-self-center class="icons">
                  <ion-row>
                    <ion-col>
                      <ion-icon *ngIf="favs.indexOf(n.id) == -1" (click)="saveAsFav(n)" name="ios-star-outline"></ion-icon>
                      <ion-icon *ngIf="favs.indexOf(n.id) > -1" (click)="removeAsFav(n)" name="ios-star"></ion-icon>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-icon style="margin-top: 10px" (click)="share(n.title, n.title, n.img, n.id)" name="md-share"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </button>
    <button *ngIf="info.has_legal_link !== ''"  class="home_button animated bounceInRight" (click)="openVideo(info.has_legal_link, '_blank', 'location=yes')">
      <ion-row>
        <ion-col col-2 class="icon">
          <img src={{info.icons.acuerdos}} />
        </ion-col>
        <ion-col class="info">
          <h1>Acuerdos del club</h1>
          <p>{{info.legal_p}}</p>
        </ion-col>
        <ion-col col-1 align-self-center class="icons">
          <ion-icon name="md-share" (click)="share('Acuerdos de la Real Sociedad de Tenis La Magdalena', 'Acuerdos de la Real Sociedad de Tenis La Magdalena', '', info.has_legal_link)"></ion-icon>
        </ion-col>
      </ion-row>
    </button>
    <button *ngIf="n_legalNews > 0 && info.has_legal && info.has_legal_link === ''" class="home_button noborder animated bounceInRight">
      <ion-row>
        <ion-col col-2 class="icon">
          <img src={{info.icons.acuerdos}} />
        </ion-col>
        <ion-col col-10 no-padding class="info">
          <div class="news-container">
            <div *ngFor="let n of legalNews" class="news-row">
              <ion-row>
                <button ion-col (click)="navigateToNews(n)" >
                  <span>{{n.date | dateToString}}</span>
                    <h1><div *ngIf="isNew(n.date)" class="novelty">!</div>Acuerdos del Club</h1>
                  <h2>{{n.title}}</h2>
                </button>
                <ion-col col-2 align-self-center class="icons">
                  <ion-row>
                    <ion-col>
                      <ion-icon *ngIf="favs.indexOf(n.id) == -1" (click)="saveAsFav(n)" name="ios-star-outline"></ion-icon>
                      <ion-icon *ngIf="favs.indexOf(n.id) > -1" (click)="removeAsFav(n)" name="ios-star"></ion-icon>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-icon style="margin-top: 10px" (click)="share(n.title, n.title, n.img, n.id)" name="md-share"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </button>
    <button *ngIf="info.has_videos" class="home_button noborder animated bounceInRight">
      <ion-row>
        <ion-col col-2 class="icon">
          <img src={{info.icons.videos}} />
        </ion-col>
        <ion-col col-10 no-padding class="info">
          <div class="news-container">
            <div *ngFor="let v of videos" class="news-row videos">
              <ion-row [style.background-image]="'url(' + v.thumbnail + ')' | safe: 'style'" >
                <button ion-col (click)="openVideoIframe(v.link, v.title)">
                  <h1>Vídeos</h1>
                  <h2>{{v.title}}</h2>
                </button>
                <ion-col col-2 align-self-center class="icons">
                  <ion-row>
                    <ion-col>
                      <ion-icon *ngIf="favs.indexOf(v.id) == -1" (click)="saveAsFav(v)" name="ios-star-outline"></ion-icon>
                      <ion-icon *ngIf="favs.indexOf(v.id) > -1" (click)="removeAsFav(v)" name="ios-star"></ion-icon>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-icon style="margin-top: 10px" (click)="share(v.title, v.title, v.link, v.link)" name="md-share"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </button>
    <button *ngIf="app === 'tenis'" class="home_button animated bounceInRight" (click)="navigateToInfo()">
      <ion-row>
        <ion-col col-2 class="icon">
          <img src={{info.icons.info}} />
        </ion-col>
        <ion-col class="info">
          <h1>Info</h1>
          <p>{{info.h1}}</p>
        </ion-col>
        <ion-col col-1 align-self-center class="icons">
          <ion-icon name="md-share" (click)="share(info.h1, info.h1, '', info.link)"></ion-icon>
        </ion-col>
      </ion-row>
    </button>
  </ion-grid>

</ion-content>
