ion-header.homepage {
    ion-title {
      padding: 5px 4em 0em 2em !important;
    }
    .toolbar-title {
        color: white;
        text-align: left;
    }
    .toolbar-background {
        background: transparent !important;
    }

    .bar-button-menutoggle {
      color: white !important;
    }
}

.novelty {
    float: left;
    width: 14px;
    text-align: center;
    font-style: initial;
    padding: 2px;
    line-height: 10px;
    top: 16px;
    height: 14px;
    border-radius: 50%;
    background: red;
    margin-right: 5px;
    font-size: 11px;
    margin-top: 3px;
}

.platform-ios ion-header.homepage .toolbar-title img {
    max-height: 2.2em;
}
.platform-core ion-header.homepage .toolbar-title img {
    max-height: 2.2em;
}
.platform-android ion-header.homepage .toolbar-title img {
    max-height: 2em;
}
ion-grid {
  padding-left: 20px !important;
}

ion-content.homepage {
    background-size: cover;
    background-position: center;
    .scroll-content{
        padding-top: 3em !important;
    }
}

button.home_button.noborder {
    border-right: 0px;
    margin-right: 0px;
    padding-right: 0px;
    width: 100%;
    ion-col {
        margin-right: 0px;
        padding-right: 0px;
    }
}

button.home_button {
    color: white;
    margin-bottom: 0.5em;
    background: transparent;
    display: block;
    width: 90%;
    border-right: 1px solid rgba(255, 255, 255, 0.6);;
    margin-top: 0em;
    ion-col.icon {
        height: 100%;
        font-size: 3em;
        padding: 6px;
        color: rgba(255, 255, 255, 0.4);
        ion-icon {
          font-size: 1.6em;
        }
    }
    ion-col.icons{
      padding: 0px;
      text-align: center;
      ion-col {
        padding: 0px;
        text-align: center;
      }
    }
    ion-col.icons ion-icon{
        font-size: 2em;
    }
    ion-col.info {
        text-align: left;
        h2 {
            min-height: 1em;
            font-family: 'Lato', sans-serif;
            font-weight: 100;
            font-size: 0.8em;
            color: #ffffffb5;
            margin: 0px;
            padding-right: 0px;
        }
        h1 {
            font-family: 'Lato', sans-serif;
            font-style: italic;
            margin-top: 0px;
            font-weight: 800;
            font-size: 1.5em;
        }
        p {
            font-size: 1.3em;
            margin-bottom: 0px;
            color: #ffffffb5;
        }
    }
}

.news-container {
    white-space:nowrap;
    overflow-x:auto;
    width: 100%;
}

.news-row {
    width: 88%;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    margin-right: 10px;
    display: inline-block;
    button {
        background: none;
        color: white;
        padding-left: 0px;
        text-align: left;
    }
    h2 {
        font-size: 1.3em !important;
        margin: 5px 0px 5px 0px !important;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        white-space: normal;
        line-height: 17px;
        max-height: 32px;
    }
}

.news-row.videos {
    margin: 0px;
    h2 {
      color: white !important;
    }
}

.news-row.videos > ion-row {
    background-size: cover;
    padding-left: 1em;
    h2{
        text-transform: none;
        font-size: 1.4em !important;
        padding-right: 3em;
    }
}
