<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Bienvenido</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img src={{info.logo}} >
  <h1>{{info.title}}</h1>

  <div [innerHTML]="info.p | linkToWebview | safe: 'html'"></div>
  <br />
  <iframe
    width="600"
    height="150"
    frameborder="0" style="border:0"
    [src]="info.map | safe: 'resourceUrl'"
    allowfullscreen>
  </iframe>
  <br />
  <br />
  <div *ngFor="let l of info.links">
    <a style="width: 100%; display: inline-block;" *ngIf="l.newWindow" (click)="openLink(l.url, '_blank', 'location=yes')">{{l.title}}</a>
    <a style="width: 100%; display: inline-block;" *ngIf="!l.newWindow" href={{l.url}}>{{l.title}}</a>
  </div>
</ion-content>
