<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Configuración</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [style.background-image]="'url(' + background + ')' | safe: 'style'" >
  <ion-list>
    <button ion-item style="background: transparent; color: white;" (click)="clearStorage()">
      Borrar datos almacenados
    </button>
  </ion-list>
</ion-content>
