<ion-menu [content]="content">
  <ion-content>
    <div class="logo" [style.background-image]="'url(' + logo + ')' | safe: 'style'"></div>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <hr style="background-color: #ffffff59;" />
      <button menuClose ion-item *ngFor="let p of secondary_pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav class={{app}} [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
