// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
div.logo {
    color: black;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 4em;
    height: 4em;
    margin: 1em;
}

.menu-inner {
    .toolbar-background {
        background: black;
    }

    ion-content {
        background: black;
    }

    .item-block {
        background: transparent;
        color: white;
        border: 0px !important;
    }

    .item-inner {
        border: 0px !important;
    }
}

.tenis ion-header {
    button {
        color: #008F36 !important;
    }
}

.tenis .coloured {
    color: #008F36 !important;
}

.tenis .coloured-button {
    background-color: #008F36 !important;
}

.pedrena ion-header {
    button {
        color: #77223d !important;
    }
}

.pedrena .coloured {
    color: #77223d !important;
}

.pedrena .coloured-button {
    background-color: #77223d !important;
}
ion-title {
    .toolbar-title {
        font-family: 'Lato', sans-serif;
        text-transform: capitalize;
        font-weight: 100;
    }
}

.bar-button-menutoggle {
  color: black !important;
  margin-left: 0px;
  ::before{
    margin-left: -1em !important;
  }
}

iframe {
  width: 100%;
}

p, h1, h2, h3, h4, ul, li, i, b, span, strong {
    font-family: 'Lato', sans-serif;
}

@media (min-width: 768px) and (orientation: landscape) {
    ion-nav.menu-content{
        width: calc(100% - 289px);
        margin-left: 289px;
    }
    .bar-button-menutoggle {
        display: none !important;
    }
    ion-menu {
        display: block;
    }
    ion-menu .menu-inner {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    button.home_button{
        width: 100% !important; 
    }
    button.home_button:not(.noborder) ion-col.info {
        -webkit-box-flex: 0 !important;
        -webkit-flex: 0 0 26% !important;
        -ms-flex: 0 0 26% !important;
        flex: 0 0 26% !important;
        width: 26% !important;
        max-width: 26% !important;
    }
    button.home_button.noborder {
        width: 100% !important; 
    }
    .news-row{
        width: 39% !important;
    }

    .tenis button.days-btn.today p{
        color: white;
        background: #2b9636;
        line-height: 36px;
        width: 36px;
        border-radius: 50%;
    }

    .pedrena button.days-btn.today p{
        color: white;
        background: #77223d;
        line-height: 36px;
        width: 36px;
        border-radius: 50%;
    }
    
    ion-calendar-month .primary .days .marked p {
        font-weight: bold;
    }
}