<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Noticias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let n of news" (click)="navigate(n)">
      <h2>{{n.title}}</h2>
      <h3>{{n.date | dateToString }}</h3>
    </ion-item>
  </ion-list>
</ion-content>
