<!--
  Generated template for the FavoritesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Favoritos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">
  <ion-card *ngFor="let fav of favs" (click)="navigate(fav)">
    <img *ngIf="fav.img != ''" src="{{fav.img}}">
    <ion-card-content>
      <ion-card-title>
        {{fav.title}}
      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
