<!--
  Generated template for the EventViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons end>
        <button ion-button icon-only (click)="share(event.title, event.title, event.img, event.id)">
          <ion-icon name="md-share"></ion-icon>
        </button>
        <button ion-button icon-only  *ngIf="favs.indexOf(event.id) == -1" (click)="saveAsFav(event)">
          <ion-icon name="ios-star-outline"></ion-icon>
        </button>
        <button ion-button icon-only *ngIf="favs.indexOf(event.id) > -1" (click)="removeAsFav(event)" >
          <ion-icon name="ios-star"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="event-view">
  <div (swipe)="swipe($event)">
    <div padding>
      <h1>{{event.title}}</h1>
      <h2 *ngIf="!(event.startTime === '00:00' && event.endTime === '00:00')" class="coloured">{{event.startTime}} - {{event.endTime}}</h2>
      <span>{{event.startDate | dateToString}}</span>
    </div>
    <img *ngIf="event.img != ''" src={{event.img}}/>
    <div padding [innerHTML]="event.description | linkToWebview | safe: 'html'"></div>
    <div padding>
      <a *ngIf="event.horarios != null" (click)="openLink(event.horarios)">Horarios</a>
      <a *ngIf="event.clasificacion != null" (click)="openLink(event.clasificacion)">Clasificación</a>
    </div>
    <div padding>
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        [src]="event.address | safe: 'resourceUrl'"
        allowfullscreen>
      </iframe>
    </div>

    <div padding>
      <button class="coloured-button" col-4 margin-bottom float-left  ion-button icon-start *ngIf="prev_event !== null" name="arrow-back" (click)="goPrevEvent()">
        <ion-icon name="arrow-back"></ion-icon>
        Anterior
      </button>

      <button class="coloured-button" col-4 margin-bottom float-right ion-button icon-end *ngIf="next_event !== null" name="arrow-forward" (click)="goNextEvent()">
        Siguiente
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>
