.news-view {
    text-align: center;
    img {
        margin: auto;
    }
    p, ul, li, div, i, b {
        text-align: left;
    }

    h1 {
        font-family: 'Lato', sans-serif;
        font-weight: 100;
    }
}
