<!--
  Generated template for the NewsViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="share(news.title, news.title, news.img, news.id)">
        <ion-icon name="md-share"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="favs.indexOf(news.id) == -1" (click)="saveAsFav(news)">
        <ion-icon name="ios-star-outline"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="favs.indexOf(news.id) > -1" (click)="removeAsFav(news)">
        <ion-icon name="ios-star"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="news-view">
  <div (swipe)="swipe($event)">
    <div padding>
      <h1>{{news.title}}</h1>
      <span>{{news.date | dateToString}}</span>
    </div>
    <img style="width: 100%" *ngIf="news.img != ''" src="{{news.img}}">
    <div padding [innerHTML]="news.content | linkToWebview | safe: 'html'"> </div>
    <div padding>

      <button class="coloured-button" col-4 margin-bottom float-left  ion-button icon-start *ngIf="news_previous !== null" name="arrow-back" (click)="navigateToNews(news_previous, 'back')">
        <ion-icon name="arrow-back"></ion-icon>
        Anterior
      </button>

      <button class="coloured-button" col-4 margin-bottom float-right ion-button icon-end *ngIf="news_next !== null" name="arrow-forward" (click)="navigateToNews(news_next, 'forward')">
        Siguiente
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
  
    </div>
  </div>
</ion-content>
